<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <purchaseorder>
                <allow_specific_customer_groups>0</allow_specific_customer_groups>
                <specific_customer_groups/>
            </purchaseorder>
        </payment>
    </default>
</config>
